[submodule "DFPlayer-Eagle-Library"]
	path = DFPlayer-Eagle-Library
	url = https://github.com/inflop/DFPlayer-Eagle-Library.git
[submodule "Adafruit-Eagle-Library"]
	path = Adafruit-Eagle-Library
	url = https://github.com/adafruit/Adafruit-Eagle-Library.git
[submodule "SparkFun-Eagle-Libraries"]
	path = SparkFun-Eagle-Libraries
	url = https://github.com/sparkfun/SparkFun-Eagle-Libraries.git
[submodule "chiengineer"]
	path = chiengineer
	url = https://github.com/chiengineer/Eagle-Libraries.git
[submodule "ESP8266-Eagle_Library"]
	path = ESP8266-Eagle_Library
	url = https://github.com/wvanvlaenderen/ESP8266-Eagle_Library.git
[submodule "2462-AA-BATT"]
	path = 2462-AA-BATT
	url = https://github.com/oakwhiz/2462-AA-BATT.git
